@value makerBlue, makerBlack from "../../common/colors.css";
@value mediaQuery from "../../common/size.css";

.btnBox {
  display: flex;
  flex-direction: column;
}

.btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 100%;
  font-size: 1em;
  font-weight: 700;
  color: makerBlack;
  border: 4px solid makerBlack;
  transition: background-color 0.3s ease;
}

.btn:hover {
  color: aliceblue;
  background-color: makerBlue;
  border: none;
}

@media screen and (max-width: mediaQuery) {
  .btn {
    padding: 5px;
    font-size: 10px;
  }
}
