.warp {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-135deg, #e4a972, #9941d8) fixed;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  /* max-width: 900px; */
}
.boxContainer {
  display: flex;
}
.displayBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 10px 0;
}
