@value makerBlack from "../../common/colors.css";

.container {
  box-sizing: border-box;
  width: auto;
  background-color: makerBlack;
}

.none {
  border: none;
}

.line {
  border: 1px solid gray;
}
